body {
    font-size: 32px;
    width: 960px;
    justify-content: center;
}


header {
    background-color: #fff;
    /* border-bottom: 1px solid #ccc; */
    text-align: center;
    display: flex;

}

/* パンダの画面 */
#pandahead {
    transform: scale(-1, 1);
    display: flex;
}

/* 回るパンダアイコン */
#savepanda {
    margin-left: 200px;
    display: inline-block;
    width: 100px;
    margin: 50px;
    height: 100px;
    margin: 30px;
    animation: 3s linear infinite rotation1;
}

@keyframes rotation1 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* 「旅するパンダ」タイトル */
#panda_title {
    height: 100px;
    margin-top: 30px;
}


/* headerをくっつく */
.header_together {
    justify-content: center;
    justify-items: center;
}


/* 
main {
    height: 500px;
} */

footer {
    background-color: #56A69E;
    border-bottom: 1px solid #ccc;
    text-align: center;
    color: #FFF;
}

p {
    font-size: 150%;
    text-align: center;
    border-bottom: 1px solid #fff;
    height: 80px;
}

h1 {
    margin-left: 100px;
    margin-bottom: 50px;
    color: #2EA66E;
}

.panda_text {
    text-align: center;
    font-size: 25px;
    height: 400px;
}

/*start botton */
.btn_panda {
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    padding: 10px 50px 10px 50px;
    /* 左右に矢印を置くためのスペースを空ける */
    background: #00ABB3;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    height: 50px;
}

.btn_panda:hover {
    transform: scale(1.1);
    /* 拡大 */
}